.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
    display: none;
}

.carousel {
    height: 100%;
}

.carousel-inner {
    height: 100%;
    display: flex;
    align-items: center;
}
